<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/login" method="post">
    아이디: <input type="text" name="username" id="username"><br>
    비밀번호: <input type="password" name="password" id="password"><br>
    <button onclick="login()">로그인</button>
</form>

<hr>
<form action="/logout" method="post">
    <button>로그아웃</button>
</form>

<script>
    // function login() {
    //     const params = new URLSearchParams();
    //     params.append("username", document.getElementById('username').value);
    //     params.append("password", document.getElementById('password').value);
    //
    //     axios.post('/login', params)
    //         .then(res => console.log(res))
    //         .catch(err => console.log(err));
    // }
</script>
</body>
</html>
